<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrZOylSfE82rA8Abw_vx3y5xN9nrmQn7E</string>
	<key>GCM_SENDER_ID</key>
	<string>194711819572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thenHeReplied</string>
	<key>PROJECT_ID</key>
	<string>then-he-replied</string>
	<key>STORAGE_BUCKET</key>
	<string>then-he-replied.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194711819572:ios:d3ea0923cc5b0a71d60161</string>
</dict>
</plist>